<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
        <!-- <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script> -->
    </head>

    <body>

        <div style="max-width: 500px">
            <h3>Spring Boot picture Upload example</h3>

            <form id="uploadForm" method="post" th:action="@{/images/upload}" enctype="multipart/form-data">
                <input id="input-file" type="file" name="file" accept="image/png, image/jpeg, image/jpg" required />
                <button type="submit">
                    Upload
                </button>
            </form>

            <div th:if="${message != null}">
                [[${message}]]
            </div>
        </div>

    </body>

</html>